[submodule "openalgo"]
	path = openalgo
	url = https://github.com/p1927/openalgo.git
	branch = main
[submodule "tradingagents"]
	path = tradingagents
	url = https://github.com/p1927/TradingAgents.git
	branch = main
[submodule "vibetrading"]
	path = vibetrading
	url = https://github.com/p1927/Vibe-Trading.git
	branch = main
[submodule "ed-alpha"]
	path = ed-alpha
	url = https://github.com/p1927/ED-ALPHA.git
	branch = main
[submodule "nautilus_trader"]
	path = nautilus_trader
	url = https://github.com/nautechsystems/nautilus_trader.git
	branch = develop
